#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.hello {
	padding-top: 0px;
	font-size: 48px;
	color: #d4ff00;
	text-shadow: 2px 2px 0 #000, 4px 4px 0 #633d9b, 6px 6px 0 #000;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.patric {
	padding-top: 70px;
	padding-right: 100px;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.but {
  font-size: 20px;
	width: 300px;
	height: 50px;
  color: #fff; /* Белый цвет текста */
  background-color: #f7d154; /* Жёлтый цвет */
  border: 2px solid #fbc02d; /* Ярко-жёлтая рамка */
  border-radius: 15px; /* Закругленные углы */
  padding: 12px 24px; /* Увеличенный отступ */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
	font-family: 'Press Start 2P', cursive;
  text-transform: uppercase; /* Все буквы заглавные */
}

.but:hover {
  background-color: #fbc02d; /* Более яркий жёлтый при наведении */
  transform: translateY(-5px); /* Поднимается при наведении */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}
